name: "CI"
on: ["push", "pull_request"]

jobs:
  build:
    name: "Build runtimes"
    runs-on: "ubuntu-latest"
    strategy:
      matrix:
        arch: ["arm", "arm64", "x86_64"]
    steps:
    - run: |
        wget https://packages.erlang-solutions.com/erlang-solutions_2.0_all.deb && sudo dpkg -i erlang-solutions_2.0_all.deb
        sudo apt-get update
        sudo apt-get install esl-erlang inotify-tools
        mkdir $HOME/elixir && cd $HOME/elixir
        wget https://github.com/elixir-lang/elixir/releases/download/v1.11.4/Precompiled.zip
        unzip Precompiled.zip
        echo "$HOME/elixir/bin" >> $GITHUB_PATH
    - uses: actions/checkout@v2
    - name: Build ${{ matrix.arch }} runtimes
      run: |
        mix deps.get
        ARCH=${{ matrix.arch }} mix package.android.runtime
        ARCH=${{ matrix.arch }} mix package.android.nif
    - name: Archive runtimes
      uses: actions/upload-artifact@v2
      with:
        name: ${{ matrix.arch }}-runtime
        path: _build/*.zip
    - name: ${{ matrix.arch }} release
      uses: softprops/action-gh-release@v1
      if: startsWith(github.ref, 'refs/tags/')
      with:
        files: _build/*.zip

  ios:
    name: "Build iOS runtime"
    runs-on: "macos-latest"
    steps:
    - run: brew install git elixir carthage coreutils
    - uses: actions/checkout@v2
    - name: Build runtime
      run: mix package.ios.runtime
    - name: Archive runtimes
      uses: actions/upload-artifact@v2
      with:
        name: iOS-runtime
        path: _build/liberlang.xcframework
    - name: iOS release
      uses: softprops/action-gh-release@v1
      if: startsWith(github.ref, 'refs/tags/')
      with:
        files: _build/liberlang.xcframework
