name: "CI"
on: ["push", "pull_request"]
env:
  OTP_TAG: OTP-25.0.4
  OTP_SOURCE: https://github.com/erlang/otp

jobs:
  build:
    name: "Build Android runtimes"
    runs-on: "ubuntu-latest"
    strategy:
      matrix:
        arch: ["arm", "arm64", "x86_64"]
    steps:
    - name: Setup elixir
      uses: erlef/setup-beam@v1
      with:
        otp-version: 24.3.3
        elixir-version: 1.13.4

    - uses: actions/checkout@v2

    - run: |
        scripts/install_elixir.sh "$HOME/elixir"
        echo "$HOME/elixir/bin" >> $GITHUB_PATH

    - name: Build Android ${{ matrix.arch }} runtimes
      run: |
        mix deps.get
        ARCH=${{ matrix.arch }} mix package.android.runtime
        ARCH=${{ matrix.arch }} mix package.android.nif
    - name: Archive Android runtimes
      uses: actions/upload-artifact@v2
      with:
        name: ${{ matrix.arch }}-runtime
        path: _build/*.zip
    - name: Android ${{ matrix.arch }} release
      uses: softprops/action-gh-release@v1
      if: startsWith(github.ref, 'refs/tags/')
      with:
        files: _build/*.zip

  ios:
    name: "Build iOS runtime"
    runs-on: "macos-latest"
    steps:
    - name: Setup elixir
      uses: erlef/setup-beam@v1
      with:
        otp-version: 24.3.3
        elixir-version: 1.13.4

    - run: brew install git carthage coreutils
    - uses: actions/checkout@v2
    - name: Build runtime
      run: mix package.ios.runtime
    - name: Archive runtimes
      uses: actions/upload-artifact@v2
      with:
        name: iOS-runtime
        path: _build/liberlang.xcframework
    - name: iOS release
      uses: softprops/action-gh-release@v1
      if: startsWith(github.ref, 'refs/tags/')
      with:
        files: _build/liberlang.xcframework
